<header class="navbar-container">
    <div class="top-row">
      <img src="/uhasselt-standaard.png" width="85" height="60" alt="UHasselt logo" class="logo" />
    </div>

    <div class="bottom-row">
      <nav class="main-nav">
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/overzicht" routerLinkActive="active">FAQ</a>
        <a routerLink="/simulatie" routerLinkActive="active">Simulatie</a>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
      </nav>
    </div>
  </header>
