<div class="contact-wrapper">
  <h1>Contacteer de sociale dienst</h1>
  <p>Studiekosten en financieringsopties</p>

  <section class="calendar-section">
    <h2>Openingsuren</h2>
      <iframe
        src="https://calendar.app.google/zRU2cBFTtBjCHK3c8"
        style="border: 0"
        width="100%"
        height="800"
        frameborder="0"
        scrolling="no">
    </iframe>
  </section>


  <section class="location-section">
    <h2>Locatie</h2>
    <div class="map-grid">
      <div>
        <h3>Diepenbeek</h3>
        <a href="https://maps.app.goo.gl/uiBgUkiuw27vxcYk6" target="_blank">
          <img src="diepenbeek-map.png" alt="Campus Diepenbeek" />
        </a>
      </div>
      <div>
        <h3>Hasselt</h3>
        <a href="https://maps.app.goo.gl/Az7uXqEBCXSBcKyo9" target="_blank">
          <img src="hasselt-map.png" alt="Campus Hasselt" />
        </a>
      </div>
    </div>
  </section>

  <section class="contact-info">
    <h2>Contacteer ons via:</h2>
    <div class="contact-row">
      <img src="contact-persoon.jpg" alt="Contactpersoon" />
      <div class="text">
        <p>📧 E-mail:
          <a href="mailto:socialedienst@uhasselt.be">socialedienst&#64;uhasselt.be</a>
        </p>
        <p>📱 GSM:
          <a href="callto: +32(0)11 26 80 64">+32(0)11 26 80 64</a>
        </p>
      </div>
    </div>
  </section>
</div>
